@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowed {
  filter: drop-shadow(0 0 10vw white);
}

.first {
  color: transparent;
  font-size: 40px;
  -webkit-text-stroke: 1px #431567;
}

.sekondo {
  font-size: 72px;
  -webkit-text-stroke: 0.5px black;
}
